include "startups.kdl"
include "layout.kdl"
include "noctalia.kdl"
include "keybinds.kdl"
include "environments.kdl"
include "cursor.kdl"
include "inputs.kdl"
include "outputs.kdl"
include "animations.kdl"
include "rules.kdl"
include "misc.kdl"
