layout {

    focus-ring {
        active-color   "#c3c8be"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c3c8be"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#c3c8be"
        inactive-color "#0e130d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c3c8be80"
    }
}

recent-windows {
    highlight {
        active-color "#c3c8be"
        urgent-color "#ffb4ab"
    }
}
