layout {

    focus-ring {
        active-color   "#a2caf7"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a2caf7"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#a2caf7"
        inactive-color "#4c749c"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a2caf780"
    }
}

recent-windows {
    highlight {
        active-color "#a2caf7"
        urgent-color "#ffb4ab"
    }
}
