spawn-at-startup "noctalia"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "XDG_SESSION_TYPE"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
